:root {
  --primary-colour: #00B8CC;
  --secondary-colour: #1D70A2;
  --light-colour: #E5E7E6;
  --dark-colour: #141301;
  --gray-tone: #7D7D74
}
  
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-colour);
  overflow-x: hidden;
  position: relative;
  font-size: 20px;
  font-family: 'Pavanam', sans-serif;
  color: var(--dark-colour);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

a, a:hover {
  text-decoration: none;
  color: var(--light-colour)
}

/* Utilities */
.contain {
  max-width: 992px;
  padding: 0 12;
}

.button {
  text-decoration: none !important;
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 2px;
}

.btn-transparent {
  background-color: transparent;
  border: 3px solid #fff;
  color: #fff;
}

.btn-transparent:hover {
  background-color: #fff;
  color: #000;
  transition: all 0.5s;
}

/* Navbar */
.navbar {
  background-color: var(--primary-colour);
}

.navbar .nav-item .nav-link {
  font-family: 'Hind Madurai', sans-serif;
  font-weight: 500;
}

#contact .navbar .container-fluid div ul li {
  margin: 0 8px;
}

.navbar .navbar-nav .nav-item a,
.navbar .container-fluid div span a {
  color: #fff;
  text-transform: uppercase;
  font-weight:500;
}

.navbar .navbar-nav .nav-item a:hover,
.navbar .container-fluid div span a:hover {
  color: var(--primary-colour);
  transition: 0.3s;
}

.navbar .navbar-nav .nav-item .active-page {
  color: var(--primary-colour)
}

/* Hero Section */
.parallax {
  background-image: url('/img/[contact]\ Bry\ outdoor\ stretch.jpeg');
  height: calc(100vh - 95px);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .container {
  text-align: center;
  height: 100%;
}

.hero .container .row {
  height: 100%;
}

.hero .hero-content {
  color: #fff;
  padding-bottom: 25px;
}

.hero .hero-content a span:hover {
  transform: translateY(10px);
  transition: 0.5s;
}

/* Form */
#contact {
  color: var(--dark-colour);
}

#contact h2 {
  font-size: 1.75em;
  padding: 20px 0;
}

.form-floating label {
  font-family: 'Pavanam', sans-serif; 
}

.form-floating #floatingMessage {
  height: 200px;
}

.form-button {
  text-decoration: none !important;
  cursor: pointer;
  display: inline-block;
  font-family: 'Pavanam', sans-serif;
  padding: 10px 30px;
  border-radius: 0.25rem;
  border: none;
  background-color: var(--primary-colour);
  color: #fff;
}

/* Follow */
.social-button {
  text-decoration: none !important;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 2.5em;;
  text-transform: uppercase;
  color: var(--primary-colour);
  background-color: var(--light-colour);
  padding: 10px 30px;
  border: 2px solid var(--primary-colour);
  border-radius: 0.25rem;;
}

/* Footer */
#footer {
  background: var(--primary-colour);
  font-size: 16px;
  color: var(--light-colour);
}

#footer a {
  color: var(--light-colour);
}