:root {
  --primary-colour: #46A0E4;
  --secondary-colour: #F2BD0A;
  --light-colour: #E5E7E6;
  --dark-colour: #141301;
  --gray-colour:  #303030;
  --white-colour: #FCFCFC;
}
  
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-colour);
  overflow-x: hidden;
  position: relative;
  font-size: 20px;
  font-family: 'Pavanam', sans-serif;
  color: var(--dark-colour);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

a, a:hover {
  text-decoration: none;
  color: var(--light-colour)
}

/* Utilities */
.button {
  text-decoration: none !important;
  cursor: pointer;
  display: inline-block;
  font-family: 'Panavam', sans-serif;
  padding: 10px 30px;
  border-radius: 2px;
}

.btn-main {
  background-color: var(--primary-colour);
  border: 2px solid var(--primary-colour);
  color: var(--white-colour);
  text-transform: uppercase;
}

.btn-main:hover {
  background-color: var(--secondary-colour);
  border: 2px solid var(--secondary-colour);
  color: var(--primary-colour);
  transition: all 0.5s;
}

.btn-alt {
  background-color: var(--light-colour);
  border: 2px solid var(--primary-colour);
  color: var(--primary-colour);
}

.btn-alt:hover {
  background-color: var(--primary-colour);
  color: var(--light-colour);
  transition: all 0.5s;
}

.headline {
  color: var(--primary-colour);
  text-transform: uppercase;
  font-size: 3em;
}

.bottom-line {
  height: 3px;
  width: 5em;
  position: relative;
  background-color: var(--secondary-colour);
  display: block;
  margin: 0 auto 2.5em auto;
}

.bottom-line::before {
  content: '';
  height: 9px;
  width: 5em;
  position: absolute;
  background-color: var(--secondary-colour);
  top: -4px;
  left: 0;
}

/* Navbar */
.navbar {
  background-color: var(--primary-colour);
}

.navbar .nav-item .nav-link {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}

#contact .navbar .container-fluid div ul li {
  margin: 0 8px;
}

.navbar .navbar-nav .nav-item a,
.navbar .container-fluid div span a {
  color: var(--white-colour);
  text-transform: uppercase;
  font-weight:500;
}

.navbar .navbar-nav .nav-item a:hover,
.navbar .container-fluid div span a:hover {
  color: var(--secondary-colour);
  transition: 0.3s;
}

.navbar .navbar-nav .nav-item .active-page {
  color: var(--secondary-colour)
}

/* Hero Section */
.parallax {
  background-image: url('/img/meghan-holmes-buWcS7G1_28-unsplash.jpg');
  height: 100vh;
  background-attachment: fixed;
  background-position: top 69px center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .container {
  text-align: center;
  height: 100%;
}

.hero .container .row {
  height: 100%;
}

.hero .hero-content {
  color: var(--white-colour);
  padding-bottom: 25px;
}

.hero .hero-content a span:hover {
  transform: translateY(10px);
  transition: 0.5s;
}

/* Form */
#contact {
  color: var(--dark-colour);
  padding-top: 106px;
}

.b-shadow {
  box-shadow: -6px -6px var(--gray-colour), -6px 0px var(--gray-colour), 0px -6px var(--gray-colour);
}

#contact h2 {
  font-size: 1.75em;
  padding: 20px 0;
}

.form-floating label {
  font-family: 'Pavanam', sans-serif; 
}

.form-floating #floatingMessage {
  height: 200px;
}

.form-floating input,
.form-floating textarea {
  border: 1px solid rgba(20, 19, 1, 0.8);
}

.form-control:focus {
  border-color: var(--primary-colour);
  box-shadow: 0 0 0 0.25rem rgba(71, 161, 228, 0.25);
}

.form-btn {
  text-decoration: none !important;
  cursor: pointer;
  display: inline-block;
  font-family: 'Pavanam', sans-serif;
  font-size: 1.25rem;
  text-transform: uppercase;
  padding: 10px 30px;
  border-radius: 0.25rem;
  border: 1px solid rgba(20, 19, 1, 0.8);
  background-color: var(--light-colour);
  color: var(--dark-colour);
}

.form-btn:hover {
  background-color: var(--primary-colour);
  transition: all 0.5s;
}

/* Follow */
.social-callout {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 2.5em;;
  text-transform: uppercase;
  color: var(--primary-colour);
}

.sm-post {
  position: relative;
  width: 100%;
  padding: 0;
  margin-bottom: 5px;
  overflow: hidden;
}

.sm-image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0,0,0,0.4)
}

.sm-post:hover .sm-image {
  transform: scale(1.08); 
  transition: all 0.5s;
}

.sm-post:hover .overlay {
  opacity: 1;
}

.sm-text {
  color: #fff;
  position: absolute;
  bottom: 35%;
  left: 50%;
  transform: translate(-35%, -50%);
  transition: all 0.5s;
}

/* Footer */
#footer {
  background: var(--primary-colour);
  font-size: 16px;
  color: var(--light-colour);
}

.copyright {
  margin: 0;
}

#footer a {
  color: var(--light-colour);
}

#footer a:hover {
  color: var(--secondary-colour);
  transition: all 0.5s;
}

@media(max-width:1080px){
  .parallax {
    background-attachment: scroll;
  }
}

@media(max-width:768px){
  #bpf-brand {
    padding: 5px 10px;
  }

  #bpf-brand img {
    max-width: 200px;
  }

  .parallax {
    background-position: top 79px center;
  }

  .bottom-line {
    margin-bottom: 0px;
  }
}

@media(max-width:576px) {
  #bpf-brand {
    padding: 5px;
  }

  #bpf-brand img {
    max-width: 150px;
  }

  .parallax {
    background-position: top 58px center;
  }

  #contact {
    padding-top: 66px;
  }
}