:root {
  --primary-colour: #00B8CC;
  --secondary-colour: #0B8D9C;
  --light-colour: #E5E7E6;
  --dark-colour: #141301;
  --gray-colour:  #303030;
}
  
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-colour);
  overflow-x: hidden;
  position: relative;
  font-size: 20px;
  font-family: 'Pavanam', sans-serif;
  color: var(--dark-colour);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

a, a:hover {
  text-decoration: none;
  color: var(--light-colour)
}

/* Utilities */
.width-control {
  max-width: 1080px;
  padding: 0 12;
}

.button {
  text-decoration: none !important;
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 2px;
}

.btn-main {
  background-color: var(--primary-colour);
  border: 2px solid var(--primary-colour);
  color: #fff;
  text-transform: uppercase;
}

.btn-main:hover {
  background-color: var(--secondary-colour);
  border: 2px solid var(--secondary-colour);
  transition: all 0.5s;
}

.btn-alt {
  background-color: var(--secondary-colour);
  color: #fff;
  text-transform: uppercase;
}

.btn-alt:hover {
  font-weight: 800;
}

.btn-transparent:hover {
  background-color: #fff;
  color: #000;
  transition: all 0.5s;
}

.headline {
  color: var(--primary-colour);
  text-transform: uppercase;
  font-size: 3em;
}

.b-shadow-r {
  /* box-shadow: 6px -6px var(--gray-colour), 6px 0px var(--gray-colour), 0px -6px var(--gray-colour); */
  border: 6px solid var(--gray-colour);
}

.bottom-line {
  height: 3px;
  width: 12em;
  position: relative;
  background-color: var(--gray-colour);
  display: block;
  margin: 0 auto 2.5em auto;
}

.bottom-line::before {
  content: '';
  height: 12px;
  width: 5em;
  position: absolute;
  background-color: var(--primary-colour);
  top: -4px;
  left: 30%;
}

/* Navbar */
.navbar {
  background-color: var(--primary-colour);
}

.navbar .nav-item .nav-link {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}

.navbar .navbar-nav .nav-item a,
.navbar .container-fluid div span a {
  color: #fff;
  text-transform: uppercase;
  font-weight:500;
}

.navbar .navbar-nav .nav-item a:hover,
.navbar .container-fluid div span a:hover {
  color: var(--secondary-colour);
  transition: 0.3s;
}

.navbar .navbar-nav .nav-item .active-page {
  color: var(--secondary-colour)
}



/* HOME PAGE - Hero */
.parallax-home {
  background-image: url('/img/home-hero.jpeg');
  min-height: 100vh;
  background-attachment: fixed;
  background-position: top 35px center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .container {
  text-align: center;
  height: calc(100vh - 95px);
}

.hero .container .row {
  height: 100%;
}

.hero .hero-content {
  padding-bottom: 25px;
}

.hero .hero-content a {
  color: var(--primary-colour);
}

.hero .hero-content a span:hover {
  transform: translateY(10px);
  transition: 0.5s;
}

/* HOME PAGE - About BPF */
#about-bpf {
  padding-top: 95px;
}

/* ABOUT PAGE */
.parallax-about {
  background-image: url('/img/[contact]\ Bry\ outdoor\ stretch.jpeg');
  min-height: 100vh;
  background-attachment: fixed;
  background-position: top 91px center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-about .container {
  height: 100%;
}

#about-me {
  padding-top: 91px;
}

.hello {
  font-size: 48px;
}

#credentials .accordion-header .accordion-button {
  background-color: var(--light-colour);
  color: var(--primary-colour);
  font-family: 'Pavanam', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  border: none;
  box-shadow: 0em 0.15em 0.65em 0em rgba(0, 0, 0, 0.25);
}

#credentials .accordion-body {
  border: none;
  box-shadow: 0em 0.15em 0.65em 0em rgba(0, 0, 0, 0.25);
}

/* TRAINING PAGE */
.parallax-training {
  background-image: url('/img/training-hero-edit.jpg');
  min-height: 100vh;
  background-attachment: fixed;
  background-position: top 95px center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-training .container {
  height: 100%;
}

#training {
  padding-top: 95px;
}

.offering .card {
  text-align: center;
  padding: 1.5rem;
  background-color: var(--light-colour);
  color: var(--dark-colour);
  box-shadow: 0em 0.15em 0.65em 0em rgba(0, 0, 0, 0.25);
  height: 318px;
}

.offering .row {
  margin: 20px auto; 
}

.offering .row .col {
  margin: 0;
}

/* FOOTER */
#footer {
  background: var(--primary-colour);
  font-size: 16px;
  color: var(--light-colour);
}

.copyright {
  margin: 0;
}

#footer a {
  color: var(--light-colour);
}

#footer a:hover {
  color: var(--secondary-colour);
  transition: all 0.5s;
}

/* MEDIA QUERIES */
@media(max-width:768px){
  #bpf-brand {
    padding: 5px 10px;
  }

  #bpf-brand img {
    max-width: 200px;
  }

  .parallax-about {
    background-position: top 79px left -200px;
  }

  .bottom-line {
    margin-bottom: 25px;
  }

  #about-me .container > .row {
    padding: 0;
  }

  .parallax-training {
    background-position: top 79px right -100px;
  }

  #training {
    padding-top: 79px;
  }

  .offering .card {
    margin-bottom: 15px;
  }

  .offering .card:nth-child(4) {
    margin-bottom: 0px;
  }

  hr {
    margin: 30px 0 16px 0;
  }
}


@media(max-width:576px){
  #bpf-brand {
    padding: 5px;
  }

  #bpf-brand img {
    max-width: 150px;
  }

  .parallax-about {
    background-position: top 66px left -150px;
  }

  #about-me,
  #training {
    padding-top: 66px;
  }

  .parallax-training {
    background-position: top 66px right;
  }

  #personal-training .offering,
  #group-training .offering {
    margin: 0 0 20px 0;
    padding: 0 6px;
  }
}