:root {
  --primary-colour: #46A0E4;
  --secondary-colour: #F2BD0A;
  --light-colour: #E5E7E6;
  --dark-colour: #141301;
  --gray-colour:  #303030;
  --white-colour: #FCFCFC;
}
  
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-colour);
  overflow-x: hidden;
  position: relative;
  font-size: 20px;
  font-family: 'Pavanam', sans-serif;
  color: var(--dark-colour);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

a, a:hover {
  text-decoration: none;
  color: var(--light-colour)
}

/* Utilities */
.button {
  text-decoration: none !important;
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 2px;
}

.btn-main {
  background-color: var(--primary-colour);
  border: 2px solid var(--primary-colour);
  color: var(--white-colour);
  text-transform: uppercase;
}

.btn-main:hover {
  background-color: var(--secondary-colour);
  border: 2px solid var(--secondary-colour);
  color: var(--primary-colour);
  transition: all 0.5s;
}

.btn-alt {
  background-color: var(--secondary-colour);
  color: var(--white-colour);
  text-transform: uppercase;
}

.btn-alt:hover {
  font-weight: 800;
}

.btn-transparent:hover {
  background-color: var(--white-colour);
  color: #000;
  transition: all 0.5s;
}

.headline {
  color: var(--primary-colour);
  text-transform: uppercase;
  font-size: 3em;
}

.b-shadow {
  border: 6px solid var(--gray-colour);
}

.bottom-line {
  height: 3px;
  width: 5em;
  position: relative;
  background-color: var(--secondary-colour);
  display: block;
  margin: 0 auto 2.5em auto;
}

.bottom-line::before {
  content: '';
  height: 9px;
  width: 5em;
  position: absolute;
  background-color: var(--secondary-colour);
  top: -4px;
  left: 0;
}

/* Navbar */
.navbar {
  background-color: var(--primary-colour);
}

.bpf-img {
  display: block;
  width: 100%;
  height: auto;
  transition: all 0.5s;
}

.navbar #bpf-brand:hover .bpf-img {
  transform: scale(1.06); 
  transition: all 0.5s;
}

.navbar .nav-item .nav-link {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}

.navbar .navbar-nav .nav-item a,
.navbar .container-fluid div span a {
  color: var(--white-colour);
  text-transform: uppercase;
  font-weight:500;
}

.navbar .navbar-nav .nav-item a:hover,
.navbar .container-fluid div span a:hover {
  color: var(--secondary-colour);
  transition: 0.3s;
}

.navbar .navbar-nav .nav-item .active-page {
  color: var(--secondary-colour)
}



/* HOME PAGE - Hero */
.parallax-home {
  background-image: url('/bp-alt/img/home-hero-compressed.jpg');
  min-height: 100vh;
  background-attachment: fixed;
  background-position: top 35px center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.hero .container {
  text-align: center;
}

.hero .container .row {
  height: 100%;
}

.hero .hero-content {
  padding-bottom: 25px;
}

.hero .hero-content a {
  color: var(--white-colour);
}

.hero .hero-content a span:hover {
  transform: translateY(10px);
  transition: 0.5s;
}

/* HOME PAGE - About BPF */
#about-bpf {
  padding-top: 95px;
  min-height: 100vh;
}

.home-content {
  padding: 0px 50px;
}

/* ABOUT PAGE */
.parallax-about {
  background-image: url('/bp-alt/img/about-hero-compressed.jpg');
  min-height: 100vh;
  background-attachment: fixed;
  background-position: top 69px center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-about .container {
  height: 100%;
}

#about-me {
  padding-top: 106px;
}

/* TRAINING PAGE */
.parallax-training {
  background-image: url('/bp-alt/img/training-hero-compressed.jpg');
  min-height: 100vh;
  background-attachment: fixed;
  background-position: top 69px right;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-training .container {
  height: 100%;
}

#training {
  padding-top: 106px;
}

.offering .card {
  text-align: center;
  padding: 1.5rem;
  background-color: var(--light-colour);
  color: var(--dark-colour);
  box-shadow: 0em 0.15em 0.65em 0em rgba(0, 0, 0, 0.25);
  height: 340px;
  margin-bottom: 15px;
}

.offering .row {
  margin: 20px auto; 
}

.offering .row .col {
  margin: 0;
}

.offering .row .col .offering-icon {
  max-height: 80px;
  width: auto;
}

/* FOOTER */
#footer {
  background: var(--primary-colour);
  font-size: 16px;
  color: var(--light-colour);
}

.copyright {
  margin: 0;
}

#footer a {
  color: var(--light-colour);
}

#footer a:hover {
  color: var(--secondary-colour);
  transition: all 0.5s;
}

/* MEDIA QUERIES */
@media(max-width:1080px){
  .parallax-about,
  .parallax-home,
  .parallax-training {
    background-attachment: scroll;
  }

}

@media(max-width:768px){
  #bpf-brand {
    padding: 5px 10px;
  }

  #bpf-brand img {
    max-width: 200px;
  }

  .bottom-line {
    margin-bottom: 25px;
  }

  #about-me .container > .row {
    padding: 0;
  }

  .parallax-about {
    background-position: top 58px left;
  }

  #training {
    padding-top: 79px;
  }

  hr {
    margin: 30px 0 16px 0;
  }
}

@media (max-width:576px), (max-height:576px) {
  #bpf-brand {
    padding: 5px;
  }

  #bpf-brand img {
    max-width: 150px;
  }

  .parallax-training {
    background-position: top 58px right;
  }

  #about-me,
  #training {
    padding-top: 66px;
  }

  .offering .card {
    max-height: 260px;
  }

}

@media (max-width: 576px) {
  .parallax-about {
    background-position: top 58px left -150px;;
  }

  .home-content {
   margin-bottom: 20px; 
  }
}

@media (max-height: 576px) {
  .parallax-about {
    background-position: top 58px left;
  }
}
