@use './../abstracts/variables' as *;
@use './../abstracts/mixins' as *;

.footer {
    background-color: $dark-blue;
    width: 100%;
    padding: 1rem;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        @include medium-breakpoint {
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-end;
        }
        
        @include max-size;
    }


    &__copyright {
        @include headline5;
        text-transform: uppercase;
        color: $white;
        margin-bottom: 1rem;

        @include medium-breakpoint {
            margin-bottom: 0;
        }
    }

    &__link {
        &:hover .footer__icon {
            color: $secondary;
            transition: all 0.5s;
        }
    }

    &__icon {
        color: $white;
        margin-bottom: 1rem;
        transition: all 0.5s;

        @include medium-breakpoint {
            margin-bottom: 0;
        }
    }

    &__policy { 
        margin-left: 0.5rem;

        @include medium-breakpoint {
            margin-left: 0;
        }
    }

}