@use './../abstracts/variables' as *;
@use './../abstracts/mixins' as *;

.footer {
    background-color: $dark-blue;
    width: 100%;
    padding: 1rem;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        @include medium-breakpoint {
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
        
        @include max-size;
    }


    &__copyright {
        @include headline5;
        text-transform: uppercase;
        color: $white;
        height: 2rem;
        margin-bottom: 1rem;
    }

    &__icon {
        color: $white;
        margin-bottom: 1rem;
    }

    // &__policy { }

}