@use './../abstracts/variables' as *;
@use './../abstracts/mixins' as *;

// .navbar {
//     background-color: $primary;
//     width: 100%;
//     display: flex;
//     position: fixed;
//     // padding: 0.25rem 0.5rem;
//     z-index: 100;

//     &__brand {
//         display: flex;
//         justify-content: space-between;
//         align-items: flex-end;
//         margin: 1rem;
//     }

//     &__logo {
//         max-width: 200px;
//         grid-column: 1/6;
//     }

//     &__menu-wrapper {
//         width: 36px;
//         grid-column: 1/6;

//         &:hover .navbar__svg {
//             fill: $secondary;
//             transition: all 0.5s;
//         }
//     }

//     &__svg {
//         fill: $white;

//         @include medium-breakpoint {
//             display: none;
//         }

//         &--menu {
//             width: 48px;
//         }

//         &--hide {
//             display: none;
//         }
//     }

//     &__menu {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         transition: all 0.5s;

//         @include medium-breakpoint {
//             flex-direction: row;
//         }


//         &--hide {
//             display: none;
//         }

//     }

//     // &__menu-icon {
//     //     max-width: 100%;
//     //     height: auto;

//     //     &:hover {
//     //         fill: red;
//     //     }
//     // }


//     &__menu-item {
//         margin: 0.5rem;
//     }

//     &__link {
//         @include headline6;
//         color: $white;
//         text-transform: uppercase;

//         &:hover {
//             color: $secondary;
//             transition: all 0.5s;
//         }
//     }
// }

// .menu-symbol {
//     background: none;
//     border: none;
    
//     // @include medium-breakpoint {
//     //     display: none;
//     // }

//     &__top-line {
//         width: 25px;
//         height: 3px;
//         background-color: $white;
//         margin: 5px;
//     } 

//     &__middle-line {
//         @extend .menu-symbol__top-line;
//     }

//     &__bottom-line {
//         @extend .menu-symbol__top-line;
//     }
// }

// https://github.com/bedimcode/responsive-navigation-menubar

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;

    @include large-breakpoint {
        margin: 0 auto;
    }
}



.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.5rem 1.5rem;
    background: $primary;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include medium-breakpoint {
        height: calc(74px + 1rem);
    }

    &__logo-image {
        max-width: 200px;
    }

    &__toggle {
        width: 3rem;
        background: none;
        border: none;
        cursor: pointer;

        &:hover .header__menu-svg {
            fill: $secondary;
            transition: all 0.5s;
        }

        @include medium-breakpoint {
            display: none;
        }
    }

    &__menu-svg {
        fill: $white;
        transition: all 0.5s;
    }
}

.nav {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: $dark-blue;
    color: $white;
    width: 100%;
    height: 100vh;
    padding: 1.25rem 0;
    transition: 0.5s;

    @include medium-breakpoint {
        width: 100%;
        position: relative;
        background-color: none;;
    }

    &__content {
        height: 100%;
        grid-template-rows: max-content 1fr max-content;
        row-gap: 2rem;
        padding-left: 2rem;

        @include medium-breakpoint {
            grid-template-columns: repeat (3, max-content);
            grid-template-rows: 1fr;
            column-gap: 1rem;
            justify-content: space-between;
        }
    }

    &__close {
        position: absolute;
        right: 1.5rem;
        width: 36px;
        height: 36px;
        // padding: 0.25rem;
        background: none;
        border: none;
        cursor: pointer;
        transition: all 0.5s;

        &:hover .nav__close-svg {
            fill: $secondary;
            transition: all 0.5s;;
        }

        @include medium-breakpoint {
            display: none;
        }
    }

    &__close-svg {
        fill: $white;
    }

    &__menu {
        align-self: center;
        // background-color: red;
    }

    &__list {
        @include medium-breakpoint {
            display: flex;    
        }
        
    }

    &__list-item {
        margin: 2.5rem 0;

        @include medium-breakpoint {
            margin: 0 0.25rem;
        }
    }

    &__link {
        @include headline6;
        color: $white;
        text-transform: uppercase;
        transition: all 0.5s;

        &:hover {
            color: $secondary;
            transition: all 0.5s;
        }

        &--active {
            color: $secondary;
        }

        @include medium-breakpoint {
            padding: 0.5rem 0.8rem;
        }
    }

    &__social {
        padding-top: 0.5rem;
    }

    &__social-link {
        color: $white;
        transition: all 0.5s;

        &:hover {
            color: $secondary;
            transition: all 0.5s;;
        }
    }

    &__social-icon {
        width: 2rem;
    }
}

.show {
    left: 0;
}