@use './../abstracts/variables' as *;
@use './../abstracts/mixins' as *;

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.75rem 1.5rem;
    background: $primary;
    z-index: 100;

    @include medium-breakpoint {
        height: calc(74px + 1rem);
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        @include medium-breakpoint {
            flex-direction: row;
        }

        @include large-breakpoint {
            @include max-size;
        }
    }

    &__logo-image {
        max-width: 200px;
    }

    &__toggle {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        width: 3rem;
        background: none;
        border: none;
        cursor: pointer;

        &:hover .header__menu-svg {
            fill: $secondary;
            transition: all 0.5s;
        }

        @include medium-breakpoint {
            display: none;
        }
    }

    &__menu-svg {
        fill: $white;
        transition: all 0.5s;
    }
}

.nav {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: $dark-blue;
    color: $white;
    width: 100%;
    height: 100vh;
    padding: 5rem 0 1.25rem 3rem;
    transition: 0.5s;

    @include medium-breakpoint {
        position: relative;
        width: 40%;
        height: 80px;
        top: 0;
        left: 0;
        padding: 1.25rem 0 0 0;
        background: none;
    }

    @include large-breakpoint {
        width: 30%;
    }

    &__close {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        width: 3rem;
        background: none;
        border: none;

        &:hover .nav__close-svg {
            fill: $secondary;
            transition: all 0.5s;
        }

        @include medium-breakpoint {
            display: none;
        }
    }

    &__close-svg {
        fill: $white;
    }

    &__content {
        display: flex;
        flex-direction: column;

        @include medium-breakpoint {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-bottom: 3rem;

        @include medium-breakpoint {
            flex-direction: row;
            margin-bottom: 0; 
        }
    }

    &__link {
        @include headline6;
        color: $white;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.5s;

        &:hover {
            color: $secondary;
            transition: all 0.5s;
        }

        &--active {
            color: $secondary;
        }
    }

    &__social-link {
        color: $white;
        cursor: pointer;

        &:hover {
            color: $secondary;
            transition: all 0.5s;
        }
    }
}

.show {
    left: 0;
}


// https://github.com/bedimcode/responsive-navigation-menubar