@use './../abstracts/variables' as *;
@use './../abstracts/mixins' as *;

.section {
    background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
}

.home {
    // background-color: #e5e7e6;
    // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23303030' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background: $white;
    padding: 1rem;
    padding-top: 98px;

    &__about {
        display: grid;
        // grid-template-columns: 1fr 1fr;
        // grid-template-rows: 
        gap: 1rem;
    }

    &__headline {
        @include headline3;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    &__intro {
        @include headline5;
        margin-bottom: 1rem;
    }

    &__paragraph {
        @include body1;
        margin-bottom: 1rem;
    }

    &__button {
        display: inline-block;
        @include button;
        margin-bottom: 3rem;
        transition: all 0.5s;

        &:hover {
            background-color: $dark-blue;
            transition: all 0.5s;
        }
    }

    &__content {
        order: 2;
        position: relative;

        @include medium-breakpoint {
            order: 1;
        }

        // &::before {
        //     @include medium-breakpoint {
        //     content: '';
        //     position: absolute;
        //     background-color: $white;
        //     background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2346a0e4' fill-opacity='0.4' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");

        //     // @include medium-breakpoint {
        //         top: -40px;
        //         right: -40px;
        //         width: 300px;
        //         height: 300px;
        //     }
        // }
    }

    &__image-wrapper {
        order: 1;

        @include medium-breakpoint {
            order: 2;
        }
    }

   &__image {
        position: relative;
        border-radius: 3rem;
        border: 5px solid $white;
        max-width: 100%;
        // max-width: 500px;
        height: auto;

        // background-color: #e5e7e6;
        // background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2346a0e4' fill-opacity='0.4' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
       }
   
}



// https://www.smashingmagazine.com/2021/03/svg-generators/

// http://projects.verou.me/css3patterns/

// https://iros.github.io/patternfills/sample_css.html

// 