@use './../abstracts/variables' as *;
@use './../abstracts/mixins' as *;

.home {
    background: $white;
    padding: 1rem;
    padding-top: 98px;

    @include medium-breakpoint {
        padding: 98px 2rem 2rem 2rem;
    }

    &__about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include medium-breakpoint {
            flex-direction: row;
            justify-content: space-between;
        }

        @include large-breakpoint {
            @include max-size;
        }
    }

    &__content {
        order: 2;
        padding: 0 0.5rem;
        max-width: 500px;

        @include medium-breakpoint {
            order: 1;
            max-width: 45%;
        }
    }

    &__headline {
        @include headline3;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    &__intro {
        @include headline5;
        margin-bottom: 1rem;
    }

    &__paragraph {
        @include body1;
        margin-bottom: 1rem;
    }

    &__button {
        display: inline-block;
        @include button;
        margin-bottom: 3rem;
        transition: all 0.5s;

        &:hover {
            background-color: $dark-blue;
            transition: all 0.5s;
        }
    }

    &__image-wrapper {
        order: 1;
        max-width: 500px;

        @include medium-breakpoint {
            order: 2;
            max-width: 45%;
        }

        @include large-breakpoint {
            max-width: 540px;
        }

            // &::before {
        //     @include medium-breakpoint {
        //     content: '';
        //     position: absolute;
        //     background-color: $white;
        //     background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2346a0e4' fill-opacity='0.4' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");

        //     // @include medium-breakpoint {
        //         top: -40px;
        //         right: -40px;
        //         width: 300px;
        //         height: 300px;
        //     }
        // }
    }

   &__image {
        // position: relative;
        border-radius: 3rem;
        // border: 5px solid $white;
        max-width: 100%;
        height: auto;
        margin-bottom: 1.5rem;

        // background-color: #e5e7e6;
        // background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2346a0e4' fill-opacity='0.4' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
       }
   
}

.testimonials {
    padding: 1rem;

    @include medium-breakpoint {
        padding: 2rem;
    }

    &__headline {
        @include headline2;
        font-size: 2.8125rem;
        color: $primary;
        text-transform: uppercase;
        text-align: center;

        @include medium-breakpoint {
            font-size: 3.4375rem;
        }
    }

    &__bottom-line {
        @include bottom-line;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        padding: 0 0.5rem;

        @include medium-breakpoint {
            flex-direction: row;
        }

        @include large-breakpoint {
            @include max-size;
        }
    }

    &__left {
        max-width: 500px;
        margin: 0 auto 1.5rem auto;

        @include medium-breakpoint {
            max-width: 40%;
        }
    }

    &__right {
        @extend .testimonials__left;
    }

    &__quote {
        @include body2;
        margin-bottom: 0.5rem;
    }

    &__caption {
        @include caption;
        font-style: italic;
        margin-left: 1rem;
    }
}



    // background-color: #e5e7e6;
    // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23303030' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

// https://www.smashingmagazine.com/2021/03/svg-generators/

// http://projects.verou.me/css3patterns/

// https://iros.github.io/patternfills/sample_css.html

// 