$primary: #46A0E4;
$secondary: #F2BD0A;
$light: #E5E7E6;
$dark: #141301;
$gray:  #303030;
$white: #FCFCFC;

$dark-blue: #174263;
// $med-blue: #215a85;
// $gunmetal: #252d33;
// $rich-black: #01080D;


$medium-breakpoint: 768px;
$large-breakpoint: 1080px;