@use './../abstracts/variables' as *;
@use './../abstracts/mixins' as *;

.hero {

    &__parallax {
        min-height: 100vh;
        background-attachment: fixed;
        z-index: -1;

        &--home {
            background: url('./../../assets/images/home-hero-compressed-bw-resize.jpg') top 35px left -440px/cover no-repeat;

            @include medium-breakpoint {
                background-position: top 35px center;
            }
        }

        &--about {
            background: url('./../../assets/images/about-hero-compressed-bw-resize.jpg') top 50px center/cover no-repeat;
        }

        &--training {
            background: url('./../../assets/images/training-hero-compressed-bw-resize.jpg') top 35px center/cover no-repeat;
        }
    }

    &__container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 2rem;
    }

    &__link {
        color: $white;

        &:hover .hero__icon {
            transform: translateY(1rem);
            color: $primary;
            transition: 0.5s;
        }
    }
}