@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400;1,600&family=Oswald:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400;1,600&family=Oswald:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400;1,600&family=Oswald:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400;1,600&family=Oswald:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400;1,600&family=Oswald:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400;1,600&family=Oswald:wght@400;500&display=swap");
html, body, div, h1, h2, h3, h4, h5, h6, p, a, img, ol, ul, li, header, nav, main, section, blockquote, figcaption, footer {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  font-size: 16px;
  box-sizing: border-box;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html, body, div, h1, h2, h3, h4, h5, h6, p, a, img, ol, ul, li, header, nav, main, section, blockquote, figcaption, footer {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  font-size: 16px;
  box-sizing: border-box;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.75rem 1.5rem;
  background: #46A0E4;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  .header {
    height: calc(74px + 1rem);
  }
}
.header__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .header__container {
    flex-direction: row;
  }
}
@media screen and (min-width: 1080px) {
  .header__container {
    max-width: 1080px;
    margin: 0 auto;
  }
}
.header__logo-image {
  max-width: 200px;
}
.header__toggle {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  background: none;
  border: none;
  margin-top: 0.5rem;
  cursor: pointer;
}
.header__toggle:hover .header__menu-svg {
  fill: #F2BD0A;
  transition: all 0.5s;
}
@media screen and (min-width: 768px) {
  .header__toggle {
    display: none;
  }
}
.header__menu-svg {
  fill: #FCFCFC;
  transition: all 0.5s;
}

.nav {
  position: fixed;
  top: 0;
  left: -100%;
  background-color: #174263;
  color: #FCFCFC;
  width: 100%;
  height: 100vh;
  padding: 5rem 0 1.25rem 3rem;
  transition: 0.5s;
}
@media screen and (min-width: 768px) {
  .nav {
    position: relative;
    width: 40%;
    height: 80px;
    top: 0;
    left: 0;
    padding: 1.25rem 0 0 0;
    background: none;
  }
}
@media screen and (min-width: 1080px) {
  .nav {
    width: 30%;
  }
}
.nav__close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  background: none;
  border: none;
  margin-top: 0.5rem;
}
.nav__close:hover .nav__close-svg {
  fill: #F2BD0A;
  transition: all 0.5s;
}
@media screen and (min-width: 768px) {
  .nav__close {
    display: none;
  }
}
.nav__close-svg {
  fill: #FCFCFC;
}
.nav__content {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .nav__content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.nav__list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .nav__list {
    flex-direction: row;
    margin-bottom: 0;
  }
}
.nav__link {
  font: 500 1.125rem "Oswald", sans-serif;
  letter-spacing: 0.15px;
  color: #FCFCFC;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s;
}
.nav__link:hover {
  color: #F2BD0A;
  transition: all 0.5s;
}
.nav__link--active {
  color: #F2BD0A;
}
.nav__social-link {
  color: #FCFCFC;
  cursor: pointer;
}
.nav__social-link:hover {
  color: #F2BD0A;
  transition: all 0.5s;
}

.show {
  left: 0;
}

.footer {
  background-color: #174263;
  width: 100%;
  padding: 1rem;
}
.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer__content {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
  }
}
@media screen and (min-width: 1080px) {
  .footer__content {
    max-width: 1080px;
    margin: 0 auto;
    justify-content: space-between;
  }
}
.footer__copyright {
  font: 400 1.375rem "Oswald", sans-serif;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #FCFCFC;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    margin-bottom: 0;
  }
}
.footer__link:hover .footer__icon {
  color: #F2BD0A;
  transition: all 0.5s;
}
.footer__icon {
  color: #FCFCFC;
  margin-bottom: 1rem;
  transition: all 0.5s;
}
@media screen and (min-width: 768px) {
  .footer__icon {
    margin-bottom: 0;
  }
}
.footer__policy {
  margin-left: 0.5rem;
}
@media screen and (min-width: 768px) {
  .footer__policy {
    margin-left: 0;
  }
}

.hero__parallax {
  min-height: 100vh;
  background-attachment: fixed;
  background-position: top 35px center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.hero__parallax--home {
  background-image: url("./../../assets/images/home-hero-small-bw.jpg");
}
@media screen and (min-width: 768px) {
  .hero__parallax--home {
    background: url("./../../assets/images/home-hero-compressed-bw.jpg") left -24rem top;
  }
}
@media screen and (min-width: 1080px) {
  .hero__parallax--home {
    background-position: left top;
  }
}
.hero__parallax--about {
  background: url("./../../assets/images/about-hero-compressed-bw-resize.jpg") top 50px center/cover no-repeat;
}
.hero__container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 2rem;
}
.hero__link {
  color: #FCFCFC;
}
.hero__link:hover .hero__icon {
  transform: translateY(1rem);
  color: #46A0E4;
  transition: 0.5s;
}

.home {
  background: #FCFCFC;
  padding: 1rem;
  padding-top: 98px;
}
@media screen and (min-width: 768px) {
  .home {
    padding: 98px 2rem 2rem 2rem;
  }
}
.home__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .home__about {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1080px) {
  .home__about {
    max-width: 1080px;
    margin: 0 auto;
  }
}
.home__content {
  order: 2;
  padding: 0 0.5rem;
  max-width: 500px;
}
@media screen and (min-width: 768px) {
  .home__content {
    order: 1;
    max-width: 45%;
  }
}
.home__headline {
  font: 400 2.75rem "Oswald", sans-serif;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.home__intro {
  font: 400 1.375rem "Oswald", sans-serif;
  letter-spacing: 0px;
  margin-bottom: 1rem;
}
.home__paragraph {
  font: 400 1rem "Open Sans", sans-serif;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
}
.home__button {
  display: inline-block;
  font: 600 1rem "Open Sans", sans-serif;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #FCFCFC;
  background-color: #46A0E4;
  padding: 0.75rem 1rem;
  border-radius: 1.25rem;
  margin-top: 1rem;
  transition: color 0.5s;
  margin-bottom: 3rem;
  transition: all 0.5s;
}
.home__button:hover {
  background-color: #174263;
  transition: all 0.5s;
}
.home__button:hover {
  background-color: #174263;
  transition: all 0.5s;
}
.home__image-wrapper {
  order: 1;
  max-width: 500px;
}
@media screen and (min-width: 768px) {
  .home__image-wrapper {
    order: 2;
    max-width: 45%;
  }
}
@media screen and (min-width: 1080px) {
  .home__image-wrapper {
    max-width: 540px;
  }
}
.home__image {
  border-radius: 3rem;
  max-width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
}

.testimonials {
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .testimonials {
    padding: 2rem;
  }
}
.testimonials__headline {
  font: 400 3.4375rem "Oswald", sans-serif;
  letter-spacing: -0.5px;
  color: #46A0E4;
  text-transform: uppercase;
  text-align: center;
}
.testimonials__bottom-line {
  height: 5px;
  width: 5em;
  position: relative;
  background-color: #F2BD0A;
  display: block;
  margin: 0 auto 2.5em auto;
}
.testimonials__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
}
@media screen and (min-width: 768px) {
  .testimonials__wrapper {
    flex-direction: row;
  }
}
@media screen and (min-width: 1080px) {
  .testimonials__wrapper {
    max-width: 1080px;
    margin: 0 auto;
  }
}
.testimonials__left, .testimonials__right {
  max-width: 500px;
  margin: 0 auto 1.5rem auto;
}
@media screen and (min-width: 768px) {
  .testimonials__left, .testimonials__right {
    max-width: 40%;
  }
}
.testimonials__quote {
  font: 400 0.875rem "Open Sans", sans-serif;
  letter-spacing: 0.25px;
  margin-bottom: 0.5rem;
}
.testimonials__caption {
  font: 600 0.875rem "Open Sans", sans-serif;
  letter-spacing: 0.4px;
  font-style: italic;
  margin-left: 1rem;
}

.about {
  background-color: #FCFCFC;
  padding: 1rem;
  padding-top: 98px;
}
.about__headline {
  font: 400 3.4375rem "Oswald", sans-serif;
  letter-spacing: -0.5px;
  color: #46A0E4;
  text-transform: uppercase;
  text-align: center;
}
.about__bottom-line {
  height: 5px;
  width: 5em;
  position: relative;
  background-color: #F2BD0A;
  display: block;
  margin: 0 auto 2.5em auto;
}
.about__container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .about__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1080px) {
  .about__container {
    max-width: 1080px;
    margin: 0 auto;
  }
}
.about__image-wrapper {
  max-width: 500px;
}
@media screen and (min-width: 768px) {
  .about__image-wrapper {
    max-width: 45%;
  }
}
@media screen and (min-width: 1080px) {
  .about__image-wrapper {
    max-width: 540px;
  }
}
.about__image {
  border-radius: 3rem;
  max-width: 100%;
  max-height: 500px;
  margin-bottom: 1.5rem;
}
.about__content {
  max-width: 500px;
}
@media screen and (min-width: 768px) {
  .about__content {
    max-width: 45%;
  }
}
.about__paragraph {
  font: 400 0.875rem "Open Sans", sans-serif;
  letter-spacing: 0.25px;
  margin-bottom: 1rem;
}
.about__button {
  display: inline-block;
  font: 600 1rem "Open Sans", sans-serif;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #FCFCFC;
  background-color: #46A0E4;
  padding: 0.75rem 1rem;
  border-radius: 1.25rem;
  margin-top: 1rem;
  transition: color 0.5s;
  margin-bottom: 3rem;
  transition: all 0.5s;
}
.about__button:hover {
  background-color: #174263;
  transition: all 0.5s;
}
.about__button:hover {
  background-color: #174263;
  transition: all 0.5s;
}/*# sourceMappingURL=main.css.map */